{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header" }} {{ partial "menu" . }} {{ end }} 

{{ define "main" }}

<div class="columns is-fullheight">
    <div class="column">
        <section class="hero is-default is-bold">
            <div class="hero-body">
                <div class="content container">
                   {{ .Content}}
                </div>
                <br>
            </div>
        </section>
    </div>
</div>
{{ end }} 

{{ define "scripts"}}
<script async type="text/javascript"  src="/js/clipboard.min.js"></script>
<script async type="text/javascript"  src="/js/clip.js"></script>
{{ end }}

{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
