<nav class="navbar {{if .Site.Params.fixedNavBar }} is-fixed-top {{end}} is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{.Site.BaseURL | relURL}}">
      <img src="/img/BLOG.svg" alt="BLOG logo">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div class="navbar-menu">
    <div class="navbar-start">
      {{ if .Site.Params.github}}
      <a class="navbar-item" target="blank" href="https://github.com/{{.Site.Params.github}}">
        <span class="icon">
          <i class="fab fa-lg fa-github-alt"></i>
        </span>
      </a>
      {{end}}

      {{ if .Site.Params.twitter}}
      <a class="navbar-item" target="blank" href="https://twitter.com/{{.Site.Params.twitter}}">
        <span class="icon">
          <i class="fab fa-lg fa-twitter"></i>
        </span>
      </a>
      {{end}}
    </div>    
   
    <div class="navbar-end">
      <div class="navbar-item">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <a itemprop="url" class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}" href="{{.URL}}"><span itemprop="name">{{ .Name }}</span></a>
        {{ end }}
      </div> 
    </div>
  </div>
</nav>
